///
/// CSS variables
///

@import '_colors';

:root {

	// General.
	--kwo-bg-color: #{$near_black};
	--kwo-text-color: #{$white};
	--kwo-link-color: #{$white};
	--kwo-link-action-color: #{$white};

	--kwo-sans-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--kwo-serif-stack: 'Hoefler Text', 'Baskerville Old Face', Garamond, Times, 'Times New Roman', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--kwo-heading-stack: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--kwo-primary-heading-size: 2.5rem;
	--kwo-primary-heading-weight: 400;
	--kwo-primary-heading-spacing: -0.0125em;

	--kwo-box-border-color: #{$pale_gray};

	// Forms & buttons.
	--kwo-form--font-weight: 400;
	--kwo-form--bg-color: var( --kwo-bg-color, inherit );
	--kwo-form--border-color: var( --kwo-box-border-color );
	--kwo-form--action-border-color: #{$white};
	--kwo-form--placeholder-color: #{$light_gray};

	--kwo-button--font-weight: 700;
	--kwo-button--bg-color: var( --kwo-bg-color, inherit );
	--kwo-button--action-bg-color: rgba( 255, 255, 255, 0.0625 );
	--kwo-button--border-color: var( --kwo-form--border-color );
	--kwo-button--text-color: var( --kwo-form--text-color );
	--kwo-button--action-text-color: var( --kwo-form--text-color );

	// Layout.
	--kwo-content-width: 1280px; // @see includes/classes/core/class-setup.php for media content width.
	--kwo-secondary-min-width: 240px;
	--kwo-secondary-max-width: 320px;
	--kwo-content-separator: 2rem;

	// Header.
	--kwo-logo-max-width: 80px;
	--kwo-logo-max-height: 80px;
	--kwo-logo-radius: 50%;
	--kwo-site-description--font-size: 1.5rem;
	--kwo-site-description--spacing: 0.03em;

	// Navigation.
	--kwo-nav--bg-color: var( --kwo-bg-color, inherit );
	--kwo-subnav---bg-color: var( --kwo-nav--bg-color );

	// Main content.

	// Widgets.

	// Footer
	--kwo-copyright--font-size: 0.825em;
}
