///
/// Backend block editor styles
///

@import 'modules/_colors';

// Block editor background color classes.
.has-kwo-dark-gray-background-color {
	background-color: $dark_gray;
}

.has-kwo-medium-gray-background-color {
	background-color: $medium_gray;
}

.has-kwo-light-gray-background-color {
	background-color: $light_gray;
}

.has-kwo-pale-gray-background-color {
	background-color: $pale_gray;
}

.has-kwo-white-background-color {
	background-color: $white;
}

.has-kwo-error-background-color {
	background-color: $error;
}

.has-kwo-warning-background-color {
	background-color: $warning;
}

.has-kwo-success-background-color {
	background-color: $success;
}

// Block editor text color classes.
.has-kwo-dark-gray-color {
	color: $dark_gray;
}

.has-kwo-medium-gray-color {
	color: $medium_gray;
}

.has-kwo-light-gray-color {
	color: $light_gray;
}

.has-kwo-pale-gray-color {
	color: $pale_gray;
}

.has-kwo-white-color {
	color: $white;
}

.has-kwo-error-color {
	color: $error;
}

.has-kwo-warning-color {
	color: $warning;
}

.has-kwo-success-color {
	color: $success;
}
