.has-kwo-dark-gray-background-color {
  background-color: #333333;
}

.has-kwo-medium-gray-background-color {
  background-color: #555555;
}

.has-kwo-light-gray-background-color {
  background-color: #888888;
}

.has-kwo-pale-gray-background-color {
  background-color: #cccccc;
}

.has-kwo-white-background-color {
  background-color: #ffffff;
}

.has-kwo-error-background-color {
  background-color: #dd0000;
}

.has-kwo-warning-background-color {
  background-color: #f8ce30;
}

.has-kwo-success-background-color {
  background-color: #4b9960;
}

.has-kwo-dark-gray-color {
  color: #333333;
}

.has-kwo-medium-gray-color {
  color: #555555;
}

.has-kwo-light-gray-color {
  color: #888888;
}

.has-kwo-pale-gray-color {
  color: #cccccc;
}

.has-kwo-white-color {
  color: #ffffff;
}

.has-kwo-error-color {
  color: #dd0000;
}

.has-kwo-warning-color {
  color: #f8ce30;
}

.has-kwo-success-color {
  color: #4b9960;
}
