///
/// Footer styles
///

.footer-content {
	width: 100%;
	max-width: var( --kwo-content-width );
	margin: 0 auto;
	padding: 2rem;
}

.copyright-text {
	margin: var( --kwo-copyright--margin, 0 );
	font-size: var( --kwo-copyright--font-size );
	text-align: center;
}
