///
/// Site header styles
///

.site-header {
	width: 100%;
	padding: 0 2em;
}

.site-title {
	margin: 0;

	font-family: var( --kwo-heading-stack, var( --kwo-font-stack, var( --kwo-sans-stack ) ) );
	/* Match <p> tag to <h1> tag on front page */
	font-size: var( --kwo-site-title-size, var( --kwo-primary-heading-size, 2rem ) );
	font-weight: var( --kwo-site-title-weight, var( --kwo-primary-heading-weight ) );
	color: var( --kwo-site-title-color, inherit );

	& a {
		color: var( --kwo-site-title-link-color, var( --kwo-site-title-color, inherit ) );
		text-decoration: inherit;
	}
}

.site-description {
	margin: 0;
	font-family: var( --kwo-heading-stack, var( --kwo-font-stack, var( --kwo-sans-stack ) ) );
	font-size: var( --kwo-site-description--font-size );
	letter-spacing: var( --kwo-site-description--spacing, 0.03em );
	line-height: var( --kwo-site-description--line-height, 1 );
}

.site-header-image {
	margin: 1em 0;
}

.site-branding-wrap {
	width: 100%;
	max-width: var( --kwo-content-width );
	margin: 0 auto;

	.site-branding {
		display: flex;
		width: 100%;
		max-width: var( --kwo-content-width );
		margin: 0 auto;
		padding: 1rem 0;

		@media screen and ( max-width: $break_primary_phone ) {
			flex-direction: column;
			align-items: center;
		}

		.site-logo {
			margin-right: 1em;

			@media screen and ( max-width: $break_primary_phone ) {
				margin: 0;
			}

			img {
				display: block;
				max-width: var( --kwo-logo-max-width );
				border-radius: var( --kwo-logo-radius );
			}
		}
	}

	&.nav-aside-branding {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.site-branding {
			width: auto;
			margin: 0;
		}

		@media screen and ( max-width: $break_nav_aside_branding ) {
			flex-direction: column;

			.site-title-description {
				text-align: center;
			}
		}
	}
}

.page-template-front-page-sections {

	.site-header-wrap {
		background-color: inherit;
		z-index: 5000;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: opacity .25s;

		&.header-wrap-scrolled {
			opacity: 1;
			visibility: visible;
		}
	}

	&.fp-viewing-slider {
		.site-header-wrap {
			opacity: 0;
			visibility: hidden;
			transition: opacity .25s;
		}
	}

	&.admin-bar {
		.site-header-wrap {
			top: 32px;

			@media screen and ( max-width: 782px ) {
				top: 46px;
			}

			@media screen and ( max-width: 600px ) {
				/* Styles */
			}
		}
	}
}
