///
/// Site layout styles
///

.site {
	background-color: inherit;
}

.site-content {
	display: flex;
	max-width: var( --kwo-content-width );
	margin: 0 auto;
	padding: 2em;

	.content-area {
		width: 100%;
		margin-right: var( --kwo-content-separator );

		// Account for sidebar minimum and right margin.
		max-width: calc( 100% - var( --kwo-secondary-min-width ) - var( --kwo-content-separator ) );
		overflow-x: hidden;
	}
}

.no-sidebar {
	.site-content {
		.content-area {
			max-width: 100%;
			margin-right: unset;
			overflow: unset;
		}
	}

	&.page-template-front-page-sections {
		.site-content {
			max-width: 100vw;
			padding: 0;
		}
	}
}

main article {
	clear: both;
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

#secondary {
	min-width: var( --kwo-secondary-min-width );
	max-width: var( --kwo-secondary-max-width );
}

@media screen and ( max-width: $break_primary_tablet ) {

	.site-content {
		flex-direction: column;

		.content-area {
			margin-right: unset;
			max-width: 100%;
		}
	}

	#secondary {
		max-width: 100%;
	}
}
